

* {box-sizing: border-box;}


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('home\ page.jpg');

  background-repeat: no-repeat;
  background-size: cover;
background-attachment: fixed;


}

li {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
  
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(189, 195, 199,1.0);
  min-width: 160px;
  box-shadow: 0 1px 1px  rgba(0, 0, 0, 0.5);

}

.dropdown-content a {
  color:rgba(44, 62, 80,1.0);
  padding: 10px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover{
 background-color: rgba(52, 152, 219,1.0);
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.animation
{
padding: 10px;
margin: 15px;
color: white;
font-size: 30px;
font-family: fantasy;
text-align:left;

}
.text{
color: white;
font-size: 20px;
}
h1{
  width: 100px;
  height: 80px;
  transition: width 3s, height 3s ;
  transform: 3s;
  font-size: 60px;
  font-weight: 200;
  color: red;

}
h1:hover {
  width: 150px;
  height: 300px;
  transform:translate(-50% -50%);
  color: white;
}


/* /* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: red;
}

.active {
  background-color: #04AA6D;
}
 */ 